body {
font: 1em sans-serif;
padding: 0;
margin: 0;
}

.map-container {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.map {
  position: absolute;
  left: 5rem;
  top: auto;
  right: auto;
  bottom: 5rem;
  width: 30vw;
  height: 40vh;
  background-color: hsla(226, 100.00%, 62.95%, 1.00);
  transform: rotate(-6deg);
}

.section {
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: lightgrey;
}

.section.intro {
  background-color:lightgrey;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center ;
  padding: 0;
  margin: 0;
}

.section.place1 {
  background-color: lightpink;
}

.section.place2 {
  background-color: lightgreen;
}
.section.place3 {
  background-color: lightskyblue;
}

.container {
  position: relative;
  min-height: 1200px;
}

.image {
  position: absolute;
  max-width: 500px;
}

.image.rechteck {
  left: 40%;
  top: 40%;
  right: auto;
  bottom: auto;
}

.image.diamant {
  left: 30%;
  top: 10%;
  right: auto;
  bottom: auto;
}

.image.quadrat {
  left: 62%;
  top: 42%;
  right: auto;
  bottom: auto;
}

.image.elipse {
  left: 46%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.image.klecks {
  left: 8%;
  top: 20%;
  right: auto;
  bottom: auto;
}

.image.stern {
  left: 73%;
  top: 50%;
  right: auto;
  bottom: auto;
}